<div class="container">
    <div class="card card-container">
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        <p id="profile-name" class="profile-name-card"></p>
        <form class="form-signin">
            <input type="text"
                   id="usuario" name="usuario"
                   ng-model="login.usuario"
                   class="form-control"
                   placeholder="Usuario" required autofocus>
            <input type="password"
                   id="password" name="password"
                   class="form-control"
                   ng-model="login.password"
                   placeholder="Contraseña" required>
            <button class="btn btn-lg btn-primary btn-block btn-signin" ng-click="login(login)">Login</button>
        </form>
    </div>
</div>
