
<div class="container">
    <div id="todo-form" class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <form>
                <div class="form-group">
                    <label for="cedula">Cedula</label>
                    <input type="text"  class="form-control"
                           placeholder="Insertar numero de cedula"
                           id="cedula"
                           ng-model="persona.cedula">
                    <br>
                </div>
                <div class="form-group">
                    <label for="nombre">nombre</label>
                    <input type="text" class="form-control"
                           placeholder="Insertar nombre"
                           id="nombre"
                           ng-model="persona.nombre">
                </div>
                    <br>
                <div class="form-group">
                    <label for="apellido">apellido</label>
                    <input type="text" class="form-control"
                           placeholder="Insertar apellido"
                           id="apellido"
                           ng-model="persona.apellido">
                </div>
                <br>
                <button class="btn btn-primary"
                        ng-click="guardar()">Guardar
                </button>
                <button class="btn btn-primary"
                        ng-click="cancelar()">Cancelar
                </button>
                <br>
                <br>
                <button class="btn btn-primary"
                        ng-click="listar()">Listar
                </button>
                <br>
                <div class="table-responsive">
                <table id="listaPersonas" class="table table-hover" style="display: none">
                    <tr>
                        <th>Accion</th>
                        <th>Indice</th>
                        <th>Nombre</th>
                        <th>Fecha</th>
                        <th>Apellido</th>
                    </tr>
                    <tr ng-repeat="$ in persona.todos">
                        <td>
                            <i type="button" class="fa fa-times"  ng-click="deletePersona($._id)"></i>
                        </td>
                        <td>{{ $index + 1 }}</td>
                        <td>{{$.nombre }}</td>
                        <td>{{$.date }}</td>
                        <td>{{$.apellido }}</td>
                    </tr>
                </table>
                </div>
            </form>
        </div>
    </div>
</div>