<div class="container">
    <div id="todo-form" class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <form>
                <div class="form-group">
                    <input type="text" class="form-control input-lg text-center"
                           placeholder="Insertar nombre"
                           ng-model="persona.nombre">
                    <br>
                    <input type="text" class="form-control input-lg text-center"
                           placeholder="Insertar apellido"
                           ng-model="persona.apellido">
                </div>
                <button class="btn btn-primary btn-lg"
                        ng-click="guardar()">Guardar
                </button>
                <button class="btn btn-primary btn-lg"
                        ng-click="listar()">Listar
                </button>
                <div id="todo-list" class="row">
                    <div class="col-sm-4 col-sm-offset-4">
                        <div class="checkbox" ng-repeat="$ in persona.todos">
                            <label>
                                <input type="button" ng-click="deletePersona($._id)"> {{$.nombre }}
                            </label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>